.board {
  --color: #000;
  --border-color: #000;
  --gap: 2px;

  border: var(--gap) solid var(--border-color);
  display: grid;

  grid-auto-rows: 50px;
  grid-auto-flow: row;
  gap: var(--gap);
  background-color: var(--border-color);
}

.row {
  display: grid;
  grid-auto-columns: 50px;
  grid-auto-flow: column;
  gap: var(--gap);
  background-color: var(--border-color);
}

.column {
  display: grid;
  background-color: #fff;
  align-items: center;
  color: var(--color);
  text-align: center;
}

.column button {
  appearance: none;
  border: 0;
  background-color: none;
  height: 100%;
  cursor: pointer;
}
